<h2>Registro de usuario</h2>
<form (submit)="onSubmit2(regUserForm)" #regUserForm="ngForm">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" ngModel>
    </div>
    <input type="submit" value="Enviar">
</form>